<div class="card d-flex flex-column shadow" style="width: 100%; min-height: 15em;">
  <img [src]="cliente.urlLogo" style="max-width: 150px;" class="card-img-top mx-auto" alt="...">
  <div class="card-body d-flex flex-column">
    <h5 class="card-title text-center">{{cliente.name}}</h5>
    <p class=" card-text text-center">Partita iva {{cliente.codeIva}}</p>
    <div class="d-flex p-2">
      <div class="px-2 py-2" style="flex:1;">
        <h5 class="text-center">{{totaleFattura|currency:'EUR'}}</h5>
        <p class="text-center">Totale fatture</p>
      </div>
      <div style="border: 1px solid rgba(0, 0, 0, 0.125);"></div>
      <div class="px-2 py-2" style="flex:1;">
        <h5 class="text-center">{{numeroFatture}}</h5>
        <p class="text-center">Numero fatture</p>
      </div>
    </div>
    <div class="d-flex mt-2">
      <button class="btn btn-primary mr-1" style="flex:1" (click)="delete()">Elimina</button>
      <button class="btn btn-primary" style="flex:1" (click)="select()">Dettaglio</button>
    </div>

  </div>
</div>
