<nav class="navbar navbar-dark bg-dark shadow">
  <a class="navbar-brand" href="#">Fattura</a>
</nav>
<div class="container-fluid">
  <div class="row" style="min-height: calc(100vh - 120px);">
    <div class="col-2 bg-secondary px-0">
      <ul class="nav flex-column mt-3">
        <li class="nav-item">
          <a class="nav-link" routerLink="cliente" routerLinkActive="bg-primary">Clienti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="fatture" routerLinkActive="bg-primary">Fatture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Impostazioni</a>
        </li>
      </ul>
    </div>
    <div class="col-10 py-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="text-white bg-dark py-3 px-2">
  <h5>footer</h5>
</footer>
