<p-dialog [(visible)]="isVisible" [modal]="true" [style]="{width: '700px'}">
  <p-header>
    Nuovo Cliente
  </p-header>
  <app-form-cliente (onInsert)="salva($event)"></app-form-cliente>
</p-dialog>
<div class="row">
  <div class="col-8">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Ricerca" name="filter" (ngModelChange)="filtra($event)"
          [(ngModel)]="filter" />
      </div>
    </form>
  </div>
  <div class="col-1">
    <button class="btn btn-primary" (click)="open()">Aggiungi</button>
  </div>
</div>
<div class="row">
  <!--  <div class="col-4 mt-2" *ngFor="let cliente of clienti">
    <app-card-cliente [cliente]="cliente" (onDelete)="delete($event)" (onSelect)="select($event)"></app-card-cliente>
  </div> -->
  <div class="col-12 h-100" *ngIf="clienti">
    <p-dataView [value]="clienti" [paginator]="true" [rows]="2" layout="grid" paginatorPosition="top">
      <p-header>
        Clienti
      </p-header>
      <ng-template let-cliente pTemplate="gridItem">
        <div class="col-4 my-2">
          <app-card-cliente [cliente]="cliente" (onDelete)="delete($event)" (onSelect)="select($event)">
          </app-card-cliente>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
